.banner {
    background-color: var(--green-dropdown);
    padding: 24px 60px;
    overflow: hidden;
}

.content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* individual words */
.word {
    font-family: var(--font-serif);
    font-size: clamp(28px, 6vw, 64px);
    font-style: italic;
    font-weight: 400;
    color: #225B2B;
    /* Dark text */
    white-space: nowrap;
}



/* mobile: full green background, stacked words */
@media (max-width: 768px) {
    .banner {
        padding: 16px 32px;
    }

    .word {
        font-size: clamp(32px, 8vw, 36px);
    }
}